<div class="card">
    <ul class="card-list--countries">
        {{#each this}}
        <li class="card-item--country">{{name}}</li>
        {{/each}}
    </ul>
    {{!-- <h2 class="card-title">Country: {{name}}</h2> --}}
    {{!-- <ul class="card-languages"></ul>

    {{#each this.languages}}
    <li class="list-language-item">{{this.name}}</li>
    {{/each}} --}}
</div>